## $Header: /cvs/ctools/gradtools/tool/src/webapp/vm/dissertation/chef_dissertations_remove_codes.vm,v 1.2 2005/06/01 22:23:39 gsilver.umich.edu Exp $ 
## Dissertations - Administrator's form for loading OARD Doctoral System and MPathways data extracts
<div class="portletBody" id="chefPortletContainer">
	#if($menu)#toolbar($menu)#end
	<h3>
		Removing FOS code
	</h3>

	#if ($alertMessage)<div class="alertMessage">Alert: $validator.escapeHtml($alertMessage)</div>#end
	<div class="chefPageviewTitle">
		Are you sure you want to remove the FOS code(s) below? This will only remove
		the FOS from the table, not delete any Grad Tools sites that may have used
		this FOS.
	</div>
		<form name="confirmRemoveCode" id="confirmRemoveCode" action="#toolForm($action)" method="post" enctype="multipart/form-data">
			<table class="listHier" cellspacing="0" summary="Confirm intent to remove the listed FOS code(s)">
				#foreach($field in $fields)
				<tr>
					<td>
						FOS
					</td>
					<td>
						$field.getFieldCode()
					</td>
					<td>
						&nbsp;&nbsp;
					</td>
					<td>
						BGG
					</td>
					<td>
						$field.getGroupCode()
					</td>
					<td>
						$field.getGroupName()
					</td>
				</tr>
				#end
			</table>
			<div class="act">
				<input class="active" type="submit" name="eventSubmit_doRemove_codes_confirmed" id="eventSubmit_doRemove_code_confirmed" value="Remove" />
				<input type="submit" name="eventSubmit_doCancel_code" id="eventSubmit_doCancel_code" value="Cancel" />
			</div>
		</form>
</div>
