##<!-- $Header: /cvs/ctools/gradtools/tool/src/webapp/vm/dissertation/chef_dissertations_confirm_delete_step.vm,v 1.2 2005/06/01 22:23:39 gsilver.umich.edu Exp $ -->
## Dissertations - All roles, confirm delete step
<div class="portletBody">
	<form name="confirmDelete" id="confirmDelete" method="post" action="#toolForm($action)">
		<h3>
			#if ($multidelete.booleanValue())
				Delete Dissertation Steps
			#else
				Delete a Dissertation Step
			#end
		</h3>
		#if ($alertMessage.length()>0)
			<div class="chefAlertBox"> $validator.escapeHtml($alertMessage)
			Are you sure you still want to delete
			#if ($multidelete.booleanValue())
				these dissertation steps?
			#else
				this dissertation step?
			#end
			</div>
		#else
			<div class="chefAlertBox">Are you sure you want to delete
			#if ($multidelete.booleanValue())
				these dissertation steps?
			#else
				this dissertation step?
			#end
			</div>
		#end
		<h4>Description</td>
		#foreach ($step in $steps)
			<p>$validator.escapeHtml($step.Instructions)</p>
		#end
		#if ($activepaths.booleanValue())
			<p class="checkbox">
				<input type="checkbox" checked="checked" name="retroactive" id="retroactive" value="retroactive" /> 
				<label for="retroactive">Apply this change to all current students</label>
			</p>	
		#end
		<p class="act">
			#if ($userrole.equals("adminrole") || $userrole.equals("schoolrole"))
				<input type="submit" name="eventSubmit_doDelete_step_admin" value="Delete" />
				<input type="submit" name="eventSubmit_doCancel_admin" value="Cancel" />
			#elseif ($userrole.equals("committeerole"))
				<input type="submit" name="eventSubmit_doDelete_step_comm" value="Delete" />
				<input type="submit" name="eventSubmit_doCancel_committee" value="Cancel" />
		
			#elseif ($userrole.equals("candidaterole"))
				<input type="submit" name="eventSubmit_doDelete_step_candidate" value="Delete" />
				<input type="submit" name="eventSubmit_doCancel_candidate" value="Cancel" />
			#end
		</p>
	</form>
</div>