## $Header: /cvs/ctools/gradtools/tool/src/webapp/vm/dissertation/chef_dissertations_upload-customize.vm,v 1.2 2005/06/01 22:23:39 gsilver.umich.edu Exp $
## chef_dissertations_upload-customize.vm, use with org.chefproject.DissertationUploadAction.java
<div class="portletBody">
	<h3>
		Customizing upload
	</h3>

	#if ($alertMessage)<div class="alertMessage">Alert: $validator.escapeHtml($alertMessage)</div><div class="clear" ></div>#end
	<form name="customize" id="customize" action="#toolForm("$action")" method="post">
		<h4>
			Message Display
		</h4>	
		<p class="instruction">
			What is the maximum number of error messages to be displayed?
		</p>
		<p class="shorttext">
			<label for="messages">Number</label>
			<input 
				type="text" 
				name="messages" 
				id="messages" 
				size="5" 
				value="$!messages" />
			</p>	
		<div class="act">
			<input class="active"  type="submit" name="eventSubmit_doSave_setting" value="Save" accesskey="s" />
			<input type="submit" name="eventSubmit_doCancel_setting" value="Cancel" accesskey="x" />
		</div>
	</form>
</div>

