## $Header: /cvs/ctools/gradtools/tool/src/webapp/vm/dissertation/chef_dissertations_upload.vm,v 1.2 2005/06/01 22:23:39 gsilver.umich.edu Exp $ 
## Dissertations - Administrator's form for loading OARD Doctoral System and MPathways data extracts
<div class="portletBody" id="chefPortletContainer">
	#if($menu)#toolbar($menu)#end
	<h3>
		Load extracts
	</h3>

	#if ($alertMessage)<div class="alertMessage">Alert: $validator.escapeHtml($alertMessage)</div>#end
	<p class="instruction">
		Complete the form fields and then choose 'Upload' at the bottom.
	</p>
	<form name="upload" id="upload" action="#toolForm($action)" method="post" enctype="multipart/form-data">
		<h4>
			Extract files
		</h4>	
		<p class="shorttext">
			<label for="OARD">OARD extract</label>
			<input type="file" name="OARD" id="OARD" class="upload" size="60" />
		</p>	
		<p class="shorttext">
			<label for="MP">MPathways extract</label>
			<input type="file" name="MP" id="MP" class="upload" size="60" />
		</p>	
			<div class="act">
				<input type="submit" name="eventSubmit_doUpload" id="eventSubmit_doUpload" value="Upload" accesskey="s" />
			</div>
		</fieldset>
	</form>
</div>
