##<!-- $Header: Exp $ -->
## Dissertations - Student/Committee view if path was saved as file and removed from db.
<div class="portletBody">
	<p class="instruction">
		A static copy of the Dissertation Checklist was saved 
		for you in Resources. This is done when administrative
		data indicate that a student is no longer an active student, 
		or the student's department has changed and there is  
		a new set of requirements. If the department has 
		changed, you will see a new Dissertation Checklist 
		as soon as the Graduate School uploads current 
		administrative data.
	</p>
</div>
