##<!-- $Header: /cvs/ctools/gradtools/tool/src/webapp/vm/dissertation/chef_dissertations_no_upload_permission.vm,v 1.2 2005/06/01 22:23:39 gsilver.umich.edu Exp $ -->
## Dissertations - Administrator's no permission to upload extracts message - view.
<div class="portletBody">
	<p class="instruction">+
		In order to upload new data you must have permission to update the Rackham site. Please e-mail gradtools@umich.edu if you need assistance with permissions.
	</p>
</div>
